<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>GameCritic - Critiques de jeux vidéo</title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>
        <ul>
            <li>God of War</li>
            <li>Celeste</li>
            <li>Monster Hunter: World</li>
        </ul>
    </body>
</html>

