<div class="critic">
    <div class="critic-header">
        <h4>
            {% if critic.user %}<em>{{ critic.user.username }}</em>{% endif %}
            {% if critic.creationDate %} le <em>{{ critic.creationDate|date('d/m/Y à H\\hi') }}</em>{% endif %}
        </h4>
    </div>
    <div class="critic-body">
        <div class="score">
            {{ critic.score|number_format(0) }}
        </div>
        <div class="critic-content">
            {{ critic.content|escape }}
        </div>
    </div>
</div>