<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>GameCritic - Critiques de jeux vidéo</title>
    </head>
    <body>
        <h1>Bienvenue sur GameCritic !</h1>
    </body>
</html>

